<% @title = "Hakkımızda" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="introduction">Hakkımızda <a href="#introduction">#</a></h1>

  <p>Bu site, <a href="https://www.tbmm.gov.tr/kanunlar/k4982.html">4982 Sayılı Bilgi Edinme Hakkı Kanunu</a>’nun etkin bir şekilde kullanımını desteklemek amacıyla, Bağımsız Gazetecilik Platformu Punto24 (P24) ve Londra merkezli Article19 tarafından kurulmuştur. Site üzerinden Türkiye’deki kamu kurum ve kuruluşlarına Bilgi Edinme başvuruları yapılabilmekte, başvurular ve gelen cevaplar kamuya açık bir şekilde internette görünür olmaktadır.</p>

  <p>
  <%= link_to "Gazeteciler için Bilgi Edinme Hakkı Kanunu Kılavuzu",
              '/bilmehakki/docs/4982.pdf' %>
  </p>

  <p>Bu sitede açık kaynak kodlu bir bilgi edinme platformu olan <a href="http://alaveteli.org" title="Alaveteli: Run a Right to Know website in your country">Alaveteli</a> yazılımı kullanılmaktadır. Sitede kullanılan kod, sivil toplum ve kamuyu biraraya getiren projeler üreten <a href="https://www.mysociety.org" title="mySociety helps citizens demand better">mySociety</a> tarafından geliştirilmiştir.</p>
</div>
