<% @title = "Kamu görevlileri için bilgi" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">

<h1 id="officers"><%= @title %> <a href="#officers">#</a></h1>

<dl>
  <dt id="top">Bir bilgi edinme başvurusu aldım ve email’in altında bu sitenin adresi vardı. Neler oluyor? <a href="#top">#</a></dt>
  <dd>
    <p>Bilmehakki.org vatandaşların Bilgi Edinme Hakkı Başvurusu yapmasını kolaylaştırmaktadır.</p>
    <p>Aldığınız Bilgi Edinme Hakkı Başvurusu bilmehakki.org sitesi kullanılarak yapılmıştır. Diğer başvurulardan tek farkı yanıtınızın otomatik olarak bu sitede yayınlanacak olmasıdır.</p>
    <p>Gizlilikle ilgili veya başka sorularınız varsa lütfen aşağıdaki açıklamaları da okuyun. Ayrıca Bilmehakki.org’un <%= link_to 'Hakkımızda', help_about_path %> bölümünü okumak ve sitenin nasıl çalıştığı ve kullanıcılara nasıl bir hizmet sağladığı hakkında bilgi almak isteyebilirsiniz. Kurumunuzun adıyla arama yapıp, siteden yapılmış başka başvurular olup olmadığını da görebilirsiniz.</p>
    <p>Bunun dışında Bilgi Edinme personelinden gelen görüşlere büyük değer veriyoruz. Lütfen bizimle <%= link_to 'iletişime', help_contact_path %> geçmekten çekinmeyin.</p>
  </dd>

  <dt id="responses">Bilgi Edinme başvurularına gelen yanıtları neden yayınlıyorsunuz? <a href="#responses">#</a></dt>
  <dd>
    <p>Yanıtların yayınlanmasında birçok fayda olduğunu düşünüyoruz. En önemlisi, toplumun devlet kurumlarınca yapılan işlerle daha yakından ilgilenmesini sağlayacaktır. Şeffaflığın, kurum ve kuruluşlara aynı konuda yapılan başvuru sayısını azaltacağını da umuyoruz.</p>
  </dd>

  <dt id="realpeople">Başvuranlar gerçek kişiler mi? <a href="#realpeople">#</a></dt>
  <dd>
    <p>Evet. Her başvuruda sitemiz tarafından oluşturulmuş bir email adresi kullanılıyor. Ancak başvuru yapmadan önce her kullanıcı bizim doğrulayabileceğimiz bir email ile siteye kayıt yapmak zorunda. Size gelen bir başvurunun sahibinin tüm başvurularını bu sitede görebilirsiniz.</p>
  </dd>

  <dt id="email_only">Email adresi Bilgi Edinme Başvurusu yapmak için yeterli değildir. <a href="#email_only">#</a></dt>
  <dd>
    <p>Evet, yeterlidir. 4982 Bilgi Edinme Hakkı Kanunu, email aracılığıyla yapılan başvurulara olanak tanımaktadır. Sadece gelen cevaplara karşı Bilgi Edinme Üst Kurulu'na yapılacak itirazların posta yoluyla iletilmesi gerekir.</p>
  </dd>
</dl>

<div id="hash_link_padding"></div>

</div>
